name: ci

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ageorgeh/pnpm-action-setup@fix/skip-install-if-existing
        with:
          cache: true
          run_install: true

      - name: format
        run: pnpm fmt:check
      - name: lint
        run: pnpm lint

      - name: build
        run: pnpm build

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ageorgeh/pnpm-action-setup@fix/skip-install-if-existing
        with:
          cache: true
          run_install: true

      - name: build
        run: pnpm build

      - name: vitest
        run: pnpm test
