name: publish

on:
  workflow_dispatch:
  push:
    branches: [main]

permissions:
  # https://docs.npmjs.com/trusted-publishers#managing-trusted-publisher-configurations
  id-token: write # for generating oidc tokens
  contents: write
  issues: write
  pull-requests: write
  packages: write

concurrency:
  group: publish-${{ github.ref }}
  cancel-in-progress: false

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: '24'
      - uses: ageorgeh/pnpm-action-setup@fix/skip-install-if-existing
        with:
          cache: true
          run_install: true
          version: 10.28.0

      - name: format
        run: pnpm fmt:check
      - name: lint
        run: pnpm lint

      - name: build
        run: pnpm build

      - name: vitest
        run: pnpm test

      - name: semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
